<ul>
  <% @countries.each do |country| %>
    <li>
      <% if current_user %>
        <%= form_for country.checkin_for(current_user) do |f| %>
          <fieldset>
            <label class="checkbox">
              <%= f.text_field :country_id, type: "hidden" %>
              <%= f.check_box :checked %>
              <%= link_to country.name, country %>
            </label>
          </fieldset>
        <% end %>
      <% else %>
        <%= link_to country.name, country %>
      <% end %>
    </li>
  <% end %>
</ul>
